*{
    margin: 0;
    padding: 0;
}
.index{
    width: 7.5rem;
}
.index .header{
    width: 100%;
    height: 1.6rem;
    background-color: #d43c33;
    position: relative;
}
.index .header .span1{
    display: inline-block;
    margin-left: 0.1rem;
    color: #fff;
    font-size: 0.5rem;
    line-height: 1.6rem;
}
.index .header .span2{
    position: absolute;
    top: 50%;
    right: 0.1rem;
    margin-top: -0.36rem;
    width: 2rem;
    height: 0.72rem;
    line-height: 1.6rem;
    border-radius: 0.36rem;
    background-color: #fff;
    color: #d43c33;
    font-size: 0.22rem;
    line-height: 0.72rem;
    text-align: center;
    font-weight: bold;
}
/* 导航栏 */
.index .nav{
    width: 100%;
    height: 0.8rem;
    font-size: 0.34rem;
    color: #333;
    line-height: 0.8rem;
    border-bottom: 0.01rem solid #dadada;
    display: flex;
    justify-content: space-around;
}
.index .nav .active{
    color: #d43c33;
    border-bottom: 0.04rem solid #d43c33;
}
/* ======推荐组件，推荐歌单====== */
.recom .title{
    height: 0.3rem;
    margin: 0.2rem 0;
    width: 100%;
    font-size: 0.3rem;
    line-height: 0.3rem;
}
.recom .title .span1{
    display: inline-block;
    height: 0.3rem;
    width: 0.06rem;
    background-color: #d43c33;
}
.recom .title .span2{
    line-height: 0.3rem;
    display: inline-block;
    margin-left: 0.1rem;
}
/* 六个分类模式 */
.recom .rBox{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.recom .rBox .sBox{
    height: 3.5rem;
    width: 2.4rem;
}
.recom .rBox .sBox img{
    width: 2.4rem;
}
.recom .rBox .sBox p{
    width: 2.2rem;
    line-height: 0.3rem;
    margin: 0 auto;
    margin-top: 0.1rem;
    font-size: 0.21rem;
    letter-spacing: 0.01rem;
}
/* ======推荐组件，最新音乐====== */
.recom .title1{
    height: 0.3rem;
    margin: 0.3rem 0;
    width: 100%;
    font-size: 0.3rem;
    line-height: 0.3rem;
}
.recom .title1 .span1{
    display: inline-block;
    height: 0.3rem;
    width: 0.06rem;
    background-color: #d43c33;
}
.recom .title1 .span2{
    line-height: 0.3rem;
    display: inline-block;
    margin-left: 0.1rem;
}
/* 音乐列表 */
.recom .songlist{
    width: 100%;
}
.recom .songlist .bigbox{
    width: 100%;
    height: 1.1rem;
    position: relative;
    border-bottom: 0.01rem solid #ddd;
}
.recom .songlist .bigbox .smbox{
    height: 1.1rem;
    width: 6.5rem;
}
.recom .songlist .bigbox .smbox .p1{
    font-size: 0.34rem;
    width: 6.3rem;
    height: 0.5rem;
    margin-left: 0.2rem;
    margin-top: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.recom .songlist .bigbox .smbox .p2{
    font-size: 0.18rem;
    color: #6d6d6d;
    width: 6.3rem;
    margin-left: 0.2rem;
}
.recom .songlist .bigbox button{
    font-size: 0.4rem;
    position: absolute;
    top: 0.15rem;
    right: 0.2rem;
}
/* 底部栏 */
.recom .footer{
    width: 100%;
    height: 4rem;
    margin-top: 0.4rem;
    background-image: url('./assets/img/bg.png');
}
.recom .footer .text{
    font-family: sans-serif,'STHeiTi';
    width: 100%;
    height: 0.88rem;
    font-size: 0.6rem;
    text-align: center;
    line-height: 0.88rem;
    margin-top: 0.8rem;
}
.recom .footer .textapp{
    height: 0.8rem;
    width: 6rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 0.4rem;
    color: #d43c33;
    font-size: 0.32rem;
    border: 0.02rem solid #d43c33;
}
.recom .footer p{
    margin-top: 0.3rem;
    font-size: 0.12rem;
    text-align: center;
    color: #bdbdbd;
}
/* 排行榜样式 */
.rank .r-header{
    width: 100%;
    height: 2.9rem;
    background-color: #d43c33;
}
.rank .r-header .h-bg{
    width: 2.84rem;
    height: 2rem;
    background-image: url('./assets/img/bg-g.png');
    background-repeat: no-repeat;
    background-position: -0.5rem -0.6rem;
    background-size: 3.32rem 2.4rem;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}
.rank .r-header p{
    color: #dddddd;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}
/* 音乐列表 */
.rank .songlist{
    width: 100%;
}
.rank .songlist .bigbox{
    width: 100%;
    height: 1.1rem;
    position: relative;
    border-bottom: 0.01rem solid #ddd;
}
.rank .songlist .bigbox .smbox{
    height: 1.1rem;
    width: 6.5rem;
    display: flex;
    justify-content: space-between;
}
.rank .songlist .bigbox .smbox .number{
    height: 1.1rem;
    font-size: 0.3rem;
    line-height: 1.1rem;
}
.rank .songlist .bigbox:nth-child(-n+3){
    color: #d43c33;
}
.rank .songlist .bigbox .smbox .p1{
    font-size: 0.34rem;
    width: 6rem;
    height: 0.5rem;
    margin-top: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}
.rank .songlist .bigbox .smbox .p2{
    font-size: 0.18rem;
    color: #6d6d6d;
    width: 6rem;
}
.rank .songlist .bigbox button{
    font-size: 0.4rem;
    position: absolute;
    top: 0.15rem;
    right: 0.2rem;
}
.rank .bottom{
    width: 100%;
    height: 1.1rem;
    font-size: 0.34rem;
    color: #bdbdbd;
    line-height: 1.1rem;
    text-align: center;
}
/* 搜索页 */
.search{
    width: 7.5rem;
}
.search .bigbox{
    width: 100%;
    height: 1.15rem;
    border-bottom: 0.01rem solid #dadada;
}
.search .bigbox .input{
    width: 7.1rem;
    height: 0.6rem;
    background-color: #ebecec;
    margin: 0 auto;
    margin-top: 0.3rem;
    border-radius: 0.3rem;
    display: flex;
}
.search .bigbox .input .p1{
    width: 0.6rem;
    height: 0.6rem;
    font-size: 0.24rem;
    line-height: 0.6rem;
    text-align: center;
}
.search .bigbox .input .p2{
    width: 5.9rem;
    height: 0.6rem;
}
.search .bigbox .input .p2 input{
    height: 100%;
    width: 100%;
    font-size: 0.3rem;
}
.search .bigbox .input .p3{
    width: 0.6rem;
    height: 0.6rem;
}
.search .bigbox .input .p3 button{
    font-size: 0.12rem;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    width: 0.3rem;
    height: 0.3rem;
    border: 0.01rem solid #a8a8a8;
    border-radius: 50%;
    line-height: 0.26rem;
    text-align: center;
}
/* 搜索页的热搜 */
.search .hotsearch{
    width: 100%;
}
.search .hotsearch p{
    width: 100%;
    height: 0.24rem;
    margin: 0.2rem;
}
.search .hotsearch .out{
    width: 7rem;
    margin: 0 auto;
}
.search .hotsearch .out .box{
    height: 0.64rem;
    min-width: 0.6rem;
    display: inline-block;
    border: 0.01rem solid #bdbdbd;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
    font-size: 0.3rem;
    line-height: 0.64rem;
    margin: 0 0.08rem 0.08rem 0;
}
/* 搜索内容显示 */
.search .searchname{
    width: 100%;
}
.search .searchname .name{
    width: 100%;
    height: 0.8rem;
    border-top: 0.01rem solid #bdbdbd;
    border-bottom: 0.01rem solid #bdbdbd;
}
.search .searchname .name p{
    height: 100%;
    margin-left: 0.25rem;
    line-height: 0.8rem;
    font-size: 0.3rem;
}